$tdw: 200px;
$input-br: 10px;
$tdh: 30px;
$font: 'Courier New',
Courier,
monospace;

@mixin td-attr($height, $width) {
    height: $height;
    width: $width;
    border-radius: $input-br;
}

#app {
    background-color: rgb(45, 46, 46);
    height: 100vh;
    padding-top: 125px;
}

.when {
    display: inline-block;
}

#gmail {
    text-align: center;
    margin-bottom: 50px;
}

#gmail-input {
    height: $tdh;
    width: 400px;
    border-radius: $input-br;
    font-family: $font;
}

#when {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

#time-input {
    @include td-attr($tdh, $tdw);
}

#date-input {
    @include td-attr($tdh, $tdw);
}

.labels {
    margin-right: 10px;
    color: aliceblue;
    font-family: $font;
}

#msg-input {
    @include td-attr(300px, 800px);
    border-radius: $input-br;
    font-family: $font;
}

#para {
    text-align: center;
}